.page-header {
    display: flex;
    background-color: var(--color-red);
    justify-content: center;

    justify-content: space-around;
    align-items: center;
}

.page-header .top-bar-container {
    display: flex;

    color: var(--color-text-in-primary);
    /* padding: 1.6rem 0; */
    padding: 26px 0;
}

.page-header .top-bar-container img {
    width: 131px;
}

.page-header .header-content strong{
    font-size: 18px;
    text-transform: uppercase;
}
